@import "tailwindcss";

* {
  font-family: "Prompt", sans-serif;
}

html {
  background-color: #0a0a0a;
  overflow-y: scroll;
}

body {
  background-color: #0a0a0a;
  transition: background-color 0.3s ease;
}

@custom-variant dark (&:where(.dark, .dark *));
